/* Estilos para los botones */
.button-container {
    position: absolute;
    top: 18px;
    right: 10px;
    display: flex; /* Agregamos display: flex; para alinear los botones horizontalmente */
}

.button {
    background-color: #1b0655;
    color: #fff;
    padding: 11px 25px;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 10px;
}

.button:hover {
    background-color: #40c220;
}

/* Estilos para el resto de la página */
body {
    background-image: url('FondoConMV.gif');
    background-size: cover; /* Esto ajustará la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #0b0c46;
    color: #129aac;
    padding: 20px;
    margin: 0;
}

.lista {
    list-style: none;
    padding: 0;
}

.lista li {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.icono {
    flex: 1;
    padding: 10px;
}

.icono img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}

.contenido {
    flex: 3;
    text-align: left;
}

.contenido h2 {
    font-size: 20px;
    margin: 0;
}

.contenido p {
    margin: 10px 0;
}
